Repository coinbase/agentkit, pull requests merged in 2025-02, with the labels that each got.

#327 fix: update cdp-langchain path in CONTRIBUTING-PYTHON.md
  CONTRIBUTING-PYTHON.md
Labels: documentation, cherry, blocked

#246 feat: add svm keypair wallet provider
  package-lock.json
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/agentkit/src/network/svm.ts
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/walletProvider.ts
Labels: wallet provider, in review, apple

#382 Fixed a bug where chain_id was being trated as a network_id
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/action_decorator.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/cdp/cdp_api_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/wallet/wallet_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/weth/weth_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/wow/wow_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/network.py
  python/coinbase-agentkit/coinbase_agentkit/network/chain_definitions.py
  python/coinbase-agentkit/coinbase_agentkit/network/network.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/cdp_wallet_provider.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/eth_account_wallet_provider.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/wallet_provider.py
  python/coinbase-agentkit/tests/action_providers/basename/conftest.py
  python/coinbase-agentkit/tests/action_providers/basename/test_basename_action_provider.py
  python/coinbase-agentkit/tests/action_providers/cdp/conftest.py
  python/coinbase-agentkit/tests/action_providers/cdp/test_cdp_api_action_provider.py
  python/coinbase-agentkit/tests/action_providers/erc20/test_erc20_action_provider.py
  python/coinbase-agentkit/tests/action_providers/erc721/conftest.py
  python/coinbase-agentkit/tests/action_providers/erc721/test_erc721_action_provider.py
  python/coinbase-agentkit/tests/action_providers/superfluid/test_superfluid_action_provider.py
  python/coinbase-agentkit/tests/action_providers/wallet/conftest.py
  python/coinbase-agentkit/tests/action_providers/wallet/test_get_details.py
  python/coinbase-agentkit/tests/action_providers/weth/conftest.py
  python/coinbase-agentkit/tests/action_providers/weth/test_wrap_eth.py
  python/coinbase-agentkit/tests/action_providers/wow/test_create_token.py
Labels: bug fix, apple

#380 Added GasConfig parameter & usage in CdpWalletProvider/EthAccountWalletProvider
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/cdp_wallet_provider.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/eth_account_wallet_provider.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/evm_wallet_provider.py
Labels: enhancement, good first issue, needs review, banana, python

#242 feat: add privy server wallet provider
  package-lock.json
  package.json
  tsconfig.base.json
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/network/network.ts
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/agentkit/src/wallet-providers/privyWalletProvider.ts
  typescript/agentkit/tsconfig.json
  typescript/examples/langchain-privy-chatbot/.env-local
  typescript/examples/langchain-privy-chatbot/.eslintrc.json
  typescript/examples/langchain-privy-chatbot/README.md
  typescript/examples/langchain-privy-chatbot/chatbot.ts
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/tsconfig.json
  typescript/framework-extensions/langchain/tsconfig.json
Labels: wallet provider, in review, apple, typescript

#385 feat(ts): solana native transfer, spl transfer
  package-lock.json
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/spl/README.md
  typescript/agentkit/src/action-providers/spl/index.ts
  typescript/agentkit/src/action-providers/spl/schemas.ts
  typescript/agentkit/src/action-providers/spl/splActionProvider.test.ts
  typescript/agentkit/src/action-providers/spl/splActionProvider.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.test.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.ts
  typescript/agentkit/src/network/index.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.ts
  typescript/examples/langchain-solana-chatbot/chatbot.ts
Labels: action provider, needs review, apple, typescript

#406 fix: Morpho python action provider function headers
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/morpho/morpho_action_provider.py
Labels: bug fix, changes requested, banana

#436 chore: adjust labeler
  .github/labeler.yml
Labels: needs triage

#438 fix: solana example wallet persistence
  typescript/examples/langchain-solana-chatbot/chatbot.ts
Labels: example, typescript, needs triage

#437 chore: add nightly build
  .github/workflows/publish_nightly.yml
  README.md
  python/examples/langchain-cdp-chatbot/pyproject.toml
  python/examples/langchain-twitter-chatbot/pyproject.toml
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
Labels: documentation, example, needs triage

#443 chore: readme mnemonic phrase import updates
  python/coinbase-agentkit/README.md
  typescript/agentkit/README.md
Labels: documentation, needs triage

#441 chore: fix publish_nightly
  .github/workflows/publish_nightly.yml
  README.md
Labels: documentation, needs triage

#445 chore: badges
  README.md
Labels: documentation

#447 release(py): 0.1.3
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
Labels: documentation, python, needs triage

#442 chore: readme supported protocols updates
  README.md
  assets/frameworks/eliza.svg
  assets/frameworks/langchain.svg
  assets/networks/base.svg
  assets/networks/ethereum.svg
  assets/networks/solana.svg
  assets/protocols/alchemy.svg
  assets/protocols/base.svg
  assets/protocols/jupiter.svg
  assets/protocols/moonwell.svg
  assets/protocols/morpho.svg
  assets/protocols/privy.svg
  assets/protocols/pyth.svg
  assets/protocols/superfluid.svg
  assets/protocols/zora.svg
  assets/wallets/coinbase.svg
  assets/wallets/privy.svg
Labels: documentation, needs triage

#431 feat: typescript - create-onchain-agent quickstart cli
  package-lock.json
  package.json
  typescript/README.md
  typescript/create-onchain-agent/.eslintrc.json
  typescript/create-onchain-agent/.npmignore
  typescript/create-onchain-agent/.prettierignore
  typescript/create-onchain-agent/.prettierrc
  typescript/create-onchain-agent/README.md
  typescript/create-onchain-agent/package-lock.json
  typescript/create-onchain-agent/package.json
  typescript/create-onchain-agent/src/cli.ts
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/src/fileSystem.ts
  typescript/create-onchain-agent/src/types.ts
  typescript/create-onchain-agent/src/utils.ts
  typescript/create-onchain-agent/templates/next/.eslintrc.json
  typescript/create-onchain-agent/templates/next/.gitignore
  typescript/create-onchain-agent/templates/next/.yarnrc.yml
  typescript/create-onchain-agent/templates/next/README.md
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/cdp/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/viem/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/solanaKeypair/route.ts
  typescript/create-onchain-agent/templates/next/app/globals.css
  typescript/create-onchain-agent/templates/next/app/hooks/useAgent.ts
  typescript/create-onchain-agent/templates/next/app/layout.tsx
  typescript/create-onchain-agent/templates/next/app/page.tsx
  typescript/create-onchain-agent/templates/next/app/types/api.ts
  typescript/create-onchain-agent/templates/next/next.config.js
  typescript/create-onchain-agent/templates/next/package.json
  typescript/create-onchain-agent/templates/next/postcss.config.mjs
  typescript/create-onchain-agent/templates/next/tailwind.config.ts
  typescript/create-onchain-agent/templates/next/tsconfig.json
  typescript/create-onchain-agent/tsconfig.build.json
  typescript/create-onchain-agent/tsconfig.json
Labels: documentation, typescript, needs triage

#440 feat: python - create-onchain-agent quickstart cli
  python/README.md
  python/create-onchain-agent/README.md
  python/create-onchain-agent/create_onchain_agent/cli.py
  python/create-onchain-agent/poetry.lock
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/chatbot/.env.local.jinja
  python/create-onchain-agent/templates/chatbot/README.md
  python/create-onchain-agent/templates/chatbot/chatbot.py.jinja
  python/create-onchain-agent/templates/chatbot/copier.yml
  python/create-onchain-agent/templates/chatbot/poetry.lock
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/examples/langchain-eth-account-chatbot/.env.local
  python/examples/langchain-eth-account-chatbot/README.md
  python/examples/langchain-eth-account-chatbot/chatbot.py
  python/examples/langchain-eth-account-chatbot/poetry.lock
  python/examples/langchain-eth-account-chatbot/pyproject.toml
Labels: documentation, example, python, needs triage

#448 fix: missing dependencies in ts cli template
  typescript/create-onchain-agent/templates/next/package.json
Labels: needs triage

#449 bump: release 0.1.3 hotfix
  package-lock.json
  typescript/create-onchain-agent/package.json
Labels: needs triage

#451 feat: Publish create-onchain-agent PyPI GHA
  .github/workflows/publish_pypi_create_onchain_agent.yml
Labels: needs triage

#452 fix: cli tool does not bundle template, but must read them
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/create_onchain_agent/cli.py
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/chatbot/chatbot.py.jinja
Labels: bug, documentation, python, needs triage

#453 fix: python cli was missing core dependencies
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/poetry.lock
  python/create-onchain-agent/pyproject.toml
Labels: documentation, needs triage

#457 fix: improve error handling invalid python version
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/README.md
  python/create-onchain-agent/create_onchain_agent/cli.py
  python/create-onchain-agent/pyproject.toml
Labels: documentation, python, needs triage

#444 chore: issues templates updates
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
Labels: needs triage

#450 chore: add viem to supported protocols
  README.md
  assets/wallets/privy.svg
  assets/wallets/viem.svg
Labels: documentation, needs triage

#459 feat: added gha for npm create-onchain-agent
  .github/workflows/publish_npm_create_onchain_agent.yml
Labels: needs triage

#461 chore: fix package.json
  package-lock.json
  typescript/create-onchain-agent/package.json
Labels: needs triage

#464 fix(docs/python): Fix wrong Network import
  python/coinbase-agentkit/README.md
Labels: documentation, needs triage

#460 fix(python/erc20-get-balance-action): Converting contract address to checksum to avoid errors
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/erc20_action_provider.py
Labels: action provider, python, needs triage

#467 fix: format erc20 balance
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/constants.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/erc20_action_provider.py
  python/coinbase-agentkit/tests/action_providers/erc20/conftest.py
  python/coinbase-agentkit/tests/action_providers/erc20/test_erc20_action_provider.py
Labels: documentation, action provider, python, needs triage

#466 chore: organize ts files and tooling
  .github/workflows/lint.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_nightly.yml
  .github/workflows/publish_npm_agentkit.yml
  .github/workflows/publish_npm_agentkit_langchain.yml
  .github/workflows/publish_npm_create_onchain_agent.yml
  .github/workflows/unit_tests.yml
  CONTRIBUTING-TYPESCRIPT.md
  CONTRIBUTING.md
  README.md
  typescript/.eslintrc.base.json
  typescript/.prettierignore
  typescript/.prettierrc
  typescript/agentkit/.eslintrc.json
  typescript/agentkit/jest.config.cjs
  typescript/agentkit/tsconfig.json
  typescript/create-onchain-agent/.eslintrc.json
  typescript/create-onchain-agent/package-lock.json
  typescript/examples/langchain-cdp-chatbot/.eslintrc.json
  typescript/examples/langchain-cdp-chatbot/tsconfig.json
  typescript/examples/langchain-farcaster-chatbot/.eslintrc.json
  typescript/examples/langchain-farcaster-chatbot/tsconfig.json
  typescript/examples/langchain-privy-chatbot/.eslintrc.json
  typescript/examples/langchain-privy-chatbot/tsconfig.json
  typescript/examples/langchain-solana-chatbot/.eslintrc.json
  typescript/examples/langchain-solana-chatbot/tsconfig.json
  typescript/examples/langchain-twitter-chatbot/.eslintrc.json
  typescript/examples/langchain-twitter-chatbot/tsconfig.json
  typescript/framework-extensions/langchain/.eslintrc.json
  typescript/framework-extensions/langchain/jest.config.cjs
  typescript/framework-extensions/langchain/tsconfig.json
  typescript/jest.config.base.cjs
  typescript/package-lock.json
  typescript/package.json
  typescript/tsconfig.base.json
  typescript/turbo.json
Labels: documentation, example, framework extension

#469 chore: introduce changesets
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
  CONTRIBUTING.md
  typescript/.changeset/README.md
  typescript/.changeset/config.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, needs triage

#473 chore: added quickstart cli to readme
  README.md
Labels: documentation, needs triage

#392 feat: Added Compound Finance Typescript Actions
  typescript/.changeset/slimy-pianos-hear.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/compound/README.md
  typescript/agentkit/src/action-providers/compound/compoundActionProvider.test.ts
  typescript/agentkit/src/action-providers/compound/compoundActionProvider.ts
  typescript/agentkit/src/action-providers/compound/constants.ts
  typescript/agentkit/src/action-providers/compound/index.ts
  typescript/agentkit/src/action-providers/compound/schemas.ts
  typescript/agentkit/src/action-providers/compound/utils.ts
  typescript/agentkit/src/action-providers/index.ts
Labels: documentation, action provider, needs review, banana, typescript, needs triage

#471 chore: introduce towncrier
  CONTRIBUTING-PYTHON.md
  python/coinbase-agentkit/changelog.d/.gitignore
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/changelog.d/.gitignore
  python/create-onchain-agent/poetry.lock
  python/create-onchain-agent/pyproject.toml
  python/framework-extensions/langchain/changelog.d/.gitignore
  python/framework-extensions/langchain/poetry.lock
  python/framework-extensions/langchain/pyproject.toml
Labels: documentation, framework extension

#465 feat: added SmartWalletProvider and example in typescript
  typescript/.changeset/smart-ideas-juggle.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/agentkit/src/wallet-providers/smartWalletProvider.ts
  typescript/examples/langchain-smart-wallet-chatbot/.env-local
  typescript/examples/langchain-smart-wallet-chatbot/.eslintrc.json
  typescript/examples/langchain-smart-wallet-chatbot/.prettierignore
  typescript/examples/langchain-smart-wallet-chatbot/.prettierrc
  typescript/examples/langchain-smart-wallet-chatbot/README.md
  typescript/examples/langchain-smart-wallet-chatbot/chatbot.ts
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/tsconfig.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, wallet provider, example, typescript, needs triage

#248 feat: Added Compound Finance Python Actions
  README.md
  assets/protocols/compound.svg
  python/coinbase-agentkit/changelog.d/477.feature.md
  python/coinbase-agentkit/coinbase_agentkit/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/compound_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/constants.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/schemas.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/utils.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/constants.py
  python/coinbase-agentkit/tests/action_providers/compound/__init__.py
  python/coinbase-agentkit/tests/action_providers/compound/conftest.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_borrow.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_portfolio.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_provider.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_repay.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_schemas.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_supply.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_utils.py
  python/coinbase-agentkit/tests/action_providers/compound/test_compound_withdraw.py
Labels: documentation, action provider, needs review, banana, python, needs triage

#474 feat(py): configurable eth account wallet provider rpc_url
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/changelog.d/+9b80489d.feature.md
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/eth_account_wallet_provider.py
Labels: documentation, wallet provider, python, needs triage

#478 fix: added .gitignore to chatbot template for cli
  python/create-onchain-agent/changelog.d/+0fcb14d9.bugfix.md
  python/create-onchain-agent/templates/chatbot/.gitignore
Labels: documentation, needs triage

#479 fix: updated typescript/agentkit README
  typescript/agentkit/README.md
Labels: documentation, needs triage

#476 chore: update pr template
  .github/pull_request_template.md
Labels: documentation, needs triage

#481 fix: Compound SVG light mode
  assets/protocols/compound.svg
Labels: needs triage

#484 fix: cli wallet persistance
  python/create-onchain-agent/changelog.d/+cdfc1615.feature.md
  python/create-onchain-agent/templates/chatbot/.env.local.jinja
  python/create-onchain-agent/templates/chatbot/chatbot.py.jinja
  typescript/.changeset/dry-doors-rest.md
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/viem/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/solanaKeypair/route.ts
Labels: documentation, typescript, needs triage

#486 fix: cdp wallet data network
  python/coinbase-agentkit/changelog.d/+24d3eed5.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/cdp_wallet_provider.py
  typescript/.changeset/short-candies-carry.md
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.ts
Labels: documentation, wallet provider, python, typescript, needs triage

#468 feat: make cdp env vars optional in next templates
  typescript/.changeset/proud-baths-judge.md
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/viem/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/solanaKeypair/route.ts
Labels: documentation, typescript, needs triage

#487 chore: bump @coinbase/coinbase-sdk
  typescript/.changeset/plenty-cars-arrive.md
  typescript/agentkit/package.json
  typescript/framework-extensions/langchain/package.json
  typescript/package-lock.json
Labels: documentation, framework extension, needs triage

#489 chore: bump packages
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+24d3eed5.bugfix.md
  python/coinbase-agentkit/changelog.d/+25ed7274.feature.md
  python/coinbase-agentkit/changelog.d/+9b80489d.feature.md
  python/coinbase-agentkit/changelog.d/.gitignore
  python/coinbase-agentkit/changelog.d/477.feature.md
  python/coinbase-agentkit/changelog.d/488.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/+0fcb14d9.bugfix.md
  python/create-onchain-agent/changelog.d/+cdfc1615.feature.md
  python/create-onchain-agent/pyproject.toml
  typescript/.changeset/cyan-cooks-smile.md
  typescript/.changeset/dry-doors-rest.md
  typescript/.changeset/plenty-cars-arrive.md
  typescript/.changeset/proud-baths-judge.md
  typescript/.changeset/short-candies-carry.md
  typescript/.changeset/slimy-pianos-hear.md
  typescript/.changeset/small-cloths-swim.md
  typescript/.changeset/smart-ideas-juggle.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
  typescript/framework-extensions/langchain/CHANGELOG.md
  typescript/framework-extensions/langchain/package.json
  typescript/package-lock.json
Labels: documentation, example, framework extension, python, needs triage

#490 fix: typos in documentation files
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
Labels: documentation, needs triage

#492 Fix/py cli indent error
  python/create-onchain-agent/changelog.d/+fff2088a.bugfix.md
  python/create-onchain-agent/templates/chatbot/chatbot.py.jinja
Labels: documentation, needs triage

#491 chore: fix publish agentkit langchain
  .github/workflows/publish_npm_agentkit_langchain.yml
Labels: needs triage
