Repository coinbase/agentkit, pull requests merged in 2025-03, with the labels that each got.

#470 feat: create-action-provider
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
  python/coinbase-agentkit/Makefile
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/scripts/generate_action_provider/README.md
  python/coinbase-agentkit/scripts/generate_action_provider/args.py
  python/coinbase-agentkit/scripts/generate_action_provider/config.py
  python/coinbase-agentkit/scripts/generate_action_provider/constants.py
  python/coinbase-agentkit/scripts/generate_action_provider/main.py
  python/coinbase-agentkit/scripts/generate_action_provider/prompts.py
  python/coinbase-agentkit/scripts/generate_action_provider/templates/README.md.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/__init__.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/action_provider.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/action_provider_test.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/conftest.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/schemas.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/templates/test_example_action.py.template
  python/coinbase-agentkit/scripts/generate_action_provider/types.py
  python/coinbase-agentkit/scripts/generate_action_provider/utils.py
  typescript/README.md
  typescript/agentkit/package.json
  typescript/agentkit/scripts/generate-action-provider/README.md
  typescript/agentkit/scripts/generate-action-provider/args.ts
  typescript/agentkit/scripts/generate-action-provider/config.ts
  typescript/agentkit/scripts/generate-action-provider/constants.ts
  typescript/agentkit/scripts/generate-action-provider/main.ts
  typescript/agentkit/scripts/generate-action-provider/prompts.ts
  typescript/agentkit/scripts/generate-action-provider/templates/README.md.template
  typescript/agentkit/scripts/generate-action-provider/templates/actionProvider.test.ts.template
  typescript/agentkit/scripts/generate-action-provider/templates/actionProvider.ts.template
  typescript/agentkit/scripts/generate-action-provider/templates/index.ts.template
  typescript/agentkit/scripts/generate-action-provider/templates/schemas.ts.template
  typescript/agentkit/scripts/generate-action-provider/types.ts
  typescript/agentkit/scripts/generate-action-provider/utils.ts
  typescript/package-lock.json
Labels: documentation, python, typescript, needs triage

#494 fix: typos
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
Labels: documentation, needs triage

#497 fix: Compound borrow action
  python/coinbase-agentkit/changelog.d/496.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/compound_action_provider.py
Labels: documentation, action provider, banana, python

#506 chore: create/update typescript action provider readmes
  typescript/agentkit/src/action-providers/alchemy/README.md
  typescript/agentkit/src/action-providers/basename/README.md
  typescript/agentkit/src/action-providers/cdp/README.md
  typescript/agentkit/src/action-providers/compound/README.md
  typescript/agentkit/src/action-providers/erc20/README.md
  typescript/agentkit/src/action-providers/erc721/README.md
  typescript/agentkit/src/action-providers/farcaster/README.md
  typescript/agentkit/src/action-providers/jupiter/README.md
  typescript/agentkit/src/action-providers/moonwell/README.md
  typescript/agentkit/src/action-providers/morpho/README.md
  typescript/agentkit/src/action-providers/pyth/README.md
  typescript/agentkit/src/action-providers/spl/README.md
  typescript/agentkit/src/action-providers/twitter/README.md
  typescript/agentkit/src/action-providers/wallet/README.md
  typescript/agentkit/src/action-providers/weth/README.md
  typescript/agentkit/src/action-providers/wow/README.md
Labels: documentation, action provider, needs triage

#507 chore: create/update python action provider readmes
  python/coinbase-agentkit/coinbase_agentkit/action_providers/basename/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/cdp/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/compound/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc721/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/morpho/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/pyth/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/superfluid/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/twitter/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/wallet/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/weth/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/wow/README.md
Labels: documentation, action provider, needs triage

#227 Add Vercel AI SDK framework support
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.env.example
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.eslintrc.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/README.md
  typescript/examples/vercel-ai-sdk-cdp-chatbot/chatbot.ts
  typescript/examples/vercel-ai-sdk-cdp-chatbot/package.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/tsconfig.json
  typescript/framework-extensions/vercel-ai-sdk/.eslintrc.json
  typescript/framework-extensions/vercel-ai-sdk/.prettierignore
  typescript/framework-extensions/vercel-ai-sdk/.prettierrc
  typescript/framework-extensions/vercel-ai-sdk/CHANGELOG.md
  typescript/framework-extensions/vercel-ai-sdk/README.md
  typescript/framework-extensions/vercel-ai-sdk/jest.config.cjs
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/framework-extensions/vercel-ai-sdk/src/index.test.ts
  typescript/framework-extensions/vercel-ai-sdk/src/index.ts
  typescript/framework-extensions/vercel-ai-sdk/tsconfig.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, changes requested, banana, example, framework extension, typescript, needs triage

#508 feat(py): ensure format workflow
  .github/workflows/format.yml
  .github/workflows/lint.yml
  python/coinbase-agentkit/Makefile
Labels: needs triage

#511 fix: linter error in ts cli's generated project
  typescript/.changeset/ripe-buttons-dress.md
  typescript/create-onchain-agent/templates/next/app/page.tsx
Labels: documentation, needs triage

#499 feat: added smart wallet support to npm create onchain-agent
  typescript/.changeset/chubby-hornets-end.md
  typescript/create-onchain-agent/src/cli.ts
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/src/types.ts
  typescript/create-onchain-agent/templates/next/.gitignore
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/smart/route.ts
  typescript/create-onchain-agent/templates/next/package.json
Labels: documentation, typescript

#503 feat: added smart wallet support to pipx create-onchain-agent
  python/create-onchain-agent/changelog.d/503.feature.md
  python/create-onchain-agent/create_onchain_agent/cli.py
  python/create-onchain-agent/templates/chatbot/.env.local.jinja
  python/create-onchain-agent/templates/chatbot/chatbot.py.jinja
Labels: documentation, python

#512 feat: add vercel ai sdk framework support
  .github/workflows/publish_docs.yml
  .github/workflows/publish_npm_agentkit_vercel_ai_sdk.yml
  typescript/.changeset/all-nails-cry.md
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.env-local
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.eslintrc.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.prettierignore
  typescript/examples/vercel-ai-sdk-cdp-chatbot/.prettierrc
  typescript/examples/vercel-ai-sdk-cdp-chatbot/README.md
  typescript/examples/vercel-ai-sdk-cdp-chatbot/chatbot.ts
  typescript/examples/vercel-ai-sdk-cdp-chatbot/package.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/tsconfig.json
  typescript/framework-extensions/vercel-ai-sdk/.eslintrc.json
  typescript/framework-extensions/vercel-ai-sdk/.prettierignore
  typescript/framework-extensions/vercel-ai-sdk/.prettierrc
  typescript/framework-extensions/vercel-ai-sdk/README.md
  typescript/framework-extensions/vercel-ai-sdk/jest.config.cjs
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/framework-extensions/vercel-ai-sdk/src/getVercelAiTools.test.ts
  typescript/framework-extensions/vercel-ai-sdk/src/getVercelAiTools.ts
  typescript/framework-extensions/vercel-ai-sdk/src/index.ts
  typescript/framework-extensions/vercel-ai-sdk/tsconfig.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, example, framework extension, typescript, needs triage

#261 feat: add action to list nfts on opensea (ts)
  typescript/.changeset/breezy-parks-buy.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/erc721/constants.ts
  typescript/agentkit/src/action-providers/erc721/erc721ActionProvider.test.ts
  typescript/agentkit/src/action-providers/erc721/erc721ActionProvider.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/opensea/README.md
  typescript/agentkit/src/action-providers/opensea/index.ts
  typescript/agentkit/src/action-providers/opensea/openseaActionProvider.test.ts
  typescript/agentkit/src/action-providers/opensea/openseaActionProvider.ts
  typescript/agentkit/src/action-providers/opensea/schemas.ts
  typescript/agentkit/src/action-providers/opensea/utils.ts
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.ts
  typescript/examples/langchain-cdp-chatbot/chatbot.ts
  typescript/package-lock.json
Labels: documentation, action provider, wallet provider, needs review, banana, example, typescript, needs triage

#519 chore: added opensea action provider to README
  typescript/agentkit/README.md
Labels: documentation, needs triage

#520 chore: vercel ai chatbot fixes
  typescript/examples/vercel-ai-sdk-cdp-chatbot/chatbot.ts
Labels: example, typescript, needs triage

#521 chore: vercel ai readme updates
  CONTRIBUTING.md
  README.md
  assets/frameworks/vercel.svg
  typescript/README.md
  typescript/framework-extensions/vercel-ai-sdk/README.md
Labels: documentation, framework extension, needs triage

#522 fix(ts): generate-action-provider output text
  typescript/agentkit/scripts/generate-action-provider/utils.ts
Labels: typescript, needs triage

#526 feat: Model Context Protocol Extension
  CONTRIBUTING.md
  README.md
  typescript/README.md
  typescript/framework-extensions/langchain/README.md
  typescript/framework-extensions/model-context-protocol/.eslintrc.json
  typescript/framework-extensions/model-context-protocol/.prettierignore
  typescript/framework-extensions/model-context-protocol/.prettierrc
  typescript/framework-extensions/model-context-protocol/CHANGELOG.md
  typescript/framework-extensions/model-context-protocol/README.md
  typescript/framework-extensions/model-context-protocol/jest.config.cjs
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/framework-extensions/model-context-protocol/src/index.test.ts
  typescript/framework-extensions/model-context-protocol/src/index.ts
  typescript/framework-extensions/model-context-protocol/tsconfig.json
  typescript/framework-extensions/vercel-ai-sdk/README.md
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, framework extension, typescript, needs triage

#527 chore: Publish AgentKit MCP
  .github/workflows/publish_docs.yml
  .github/workflows/publish_npm_agentkit_model_context_protocol.yml
Labels: needs triage

#528 chore: MCP README Typo
  typescript/framework-extensions/model-context-protocol/README.md
Labels: documentation, framework extension, needs triage

#529 chore: Add Vercel AI SDK and MCP Docs to README
  README.md
Labels: documentation, needs triage

#532 chore: update towncrier config
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/.gitignore
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/pyproject.toml
  python/framework-extensions/langchain/pyproject.toml
Labels: documentation, framework extension, needs triage

#530 chore: fix typo in wallet data configuration variable name
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/privy/route.ts
Labels: typescript, needs triage

#534 chore: update publish action names
  .github/workflows/publish_npm_agentkit.yml
  .github/workflows/publish_npm_create_onchain_agent.yml
  .github/workflows/publish_pypi_coinbase_agentkit.yml
  .github/workflows/publish_pypi_coinbase_agentkit_langchain.yml
  .github/workflows/publish_pypi_create_onchain_agent.yml
Labels: needs triage

#523 chore(vercel-ai-sdk): improve dependency management
  typescript/.changeset/all-nails-cry.md
  typescript/.changeset/config.json
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/framework-extensions/vercel-ai-sdk/tsconfig.json
  typescript/package-lock.json
Labels: documentation, framework extension

#535 chore: added github action for checking if changelogs are required
  .github/workflows/changelog.yml
Labels: needs triage

#538 chore(langchain): improve dependency management
  typescript/framework-extensions/langchain/package.json
  typescript/framework-extensions/langchain/tsconfig.json
  typescript/package-lock.json
Labels: framework extension, needs triage

#537 chore(mcp): improve dependency management
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/framework-extensions/model-context-protocol/tsconfig.json
  typescript/package-lock.json
Labels: framework extension, needs triage

#115 feat: Adds Allora Network price inference to the CDP AgentKit (typescript)
  README.md
  assets/protocols/allora.svg
  typescript/.changeset/lovely-vans-knock.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/allora/README.md
  typescript/agentkit/src/action-providers/allora/alloraActionProvider.test.ts
  typescript/agentkit/src/action-providers/allora/alloraActionProvider.ts
  typescript/agentkit/src/action-providers/allora/index.ts
  typescript/agentkit/src/action-providers/allora/schemas.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/examples/langchain-cdp-chatbot/chatbot.ts
  typescript/package-lock.json
Labels: documentation, action provider, changes requested, cherry, example, typescript

#540 chore: Release Typescript 0.3.0
  typescript/.changeset/all-nails-cry.md
  typescript/.changeset/breezy-parks-buy.md
  typescript/.changeset/chubby-hornets-end.md
  typescript/.changeset/lovely-vans-knock.md
  typescript/.changeset/ripe-buttons-dress.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/package.json
  typescript/framework-extensions/langchain/package.json
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/framework-extensions/vercel-ai-sdk/CHANGELOG.md
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/package-lock.json
Labels: documentation, example, framework extension

#541 chore: bump typescript extension packages
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
  typescript/framework-extensions/langchain/package.json
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/package-lock.json
Labels: example, framework extension

#542 chore: Release 0.1.5 Python
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/496.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/+fff2088a.bugfix.md
  python/create-onchain-agent/changelog.d/498.feature.md
  python/create-onchain-agent/changelog.d/503.feature.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
Labels: documentation, python

#545 chore: changelog exts
  typescript/framework-extensions/langchain/CHANGELOG.md
  typescript/framework-extensions/model-context-protocol/CHANGELOG.md
Labels: documentation, framework extension

#550 feat: python openai agents sdk support
  CONTRIBUTING.md
  README.md
  python/README.md
  python/examples/openai-agents-sdk-cdp-chatbot/.env.local
  python/examples/openai-agents-sdk-cdp-chatbot/Makefile
  python/examples/openai-agents-sdk-cdp-chatbot/README.md
  python/examples/openai-agents-sdk-cdp-chatbot/chatbot.py
  python/examples/openai-agents-sdk-cdp-chatbot/poetry.lock
  python/examples/openai-agents-sdk-cdp-chatbot/pyproject.toml
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/Makefile
  python/framework-extensions/openai-agents-sdk/README.md
  python/framework-extensions/openai-agents-sdk/changelog.d/+6f3c7e1c.feature.md
  python/framework-extensions/openai-agents-sdk/changelog.d/.gitignore
  python/framework-extensions/openai-agents-sdk/coinbase_agentkit_openai_agents_sdk/__init__.py
  python/framework-extensions/openai-agents-sdk/coinbase_agentkit_openai_agents_sdk/openai_agents_sdk_tools.py
  python/framework-extensions/openai-agents-sdk/poetry.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/tests/conftest.py
  python/framework-extensions/openai-agents-sdk/tests/openai_agents_sdk_tools/__init__.py
  python/framework-extensions/openai-agents-sdk/tests/openai_agents_sdk_tools/conftest.py
  python/framework-extensions/openai-agents-sdk/tests/openai_agents_sdk_tools/test_get_openai_agents_sdk_tools.py
Labels: documentation, example, framework extension, python

#552 chore: OpenAI Agents SDK - Initial release changelog
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/changelog.d/+6f3c7e1c.feature.md
Labels: documentation, framework extension

#544 chore: add next-template to workspaces
  typescript/.changeset/dirty-candies-thank.md
  typescript/create-onchain-agent/templates/next/app/hooks/useAgent.ts
  typescript/create-onchain-agent/templates/next/app/layout.tsx
  typescript/create-onchain-agent/templates/next/app/page.tsx
  typescript/create-onchain-agent/templates/next/package.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, typescript

#554 chore: python bump cdp sdk version
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
Labels: documentation

#555 chore: added a new badge
  README.md
Labels: documentation

#546 feat: model context protocol example
  CONTRIBUTING.md
  README.md
  typescript/examples/model-context-protocol-cdp-server/.eslintrc.json
  typescript/examples/model-context-protocol-cdp-server/.prettierignore
  typescript/examples/model-context-protocol-cdp-server/.prettierrc
  typescript/examples/model-context-protocol-cdp-server/README.md
  typescript/examples/model-context-protocol-cdp-server/claude_desktop_config.json
  typescript/examples/model-context-protocol-cdp-server/index.ts
  typescript/examples/model-context-protocol-cdp-server/package.json
  typescript/examples/model-context-protocol-cdp-server/tsconfig.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, example, typescript, no changelog required

#548 feat: npm cli - multi framework + Vercel AI SDK
  typescript/.changeset/slick-points-smile.md
  typescript/create-onchain-agent/README.md
  typescript/create-onchain-agent/src/cli.ts
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/src/fileSystem.ts
  typescript/create-onchain-agent/src/types.ts
  typescript/create-onchain-agent/src/utils.ts
  typescript/create-onchain-agent/templates/next/README.md
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/custom-evm/viem/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/cdp/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/privy/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/viem/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/svm/privy/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/svm/solanaKeypair/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/custom-evm/viem/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/cdp/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/smart/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/evm/viem/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/langchain/create-agent.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/langchain/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/langchain/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/vercel-ai-sdk/create-agent.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/vercel-ai-sdk/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/vercel-ai-sdk/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/privy/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/svm/solanaKeypair/route.ts
  typescript/create-onchain-agent/templates/next/package.json
  typescript/package-lock.json
Labels: documentation, typescript

#559 chore: infer types from constants
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/src/types.ts
  typescript/create-onchain-agent/src/utils.ts
Labels: typescript, no changelog required

#110 feat: Adds Allora Network price inference to the CDP AgentKit (python)
  python/coinbase-agentkit/Makefile
  python/coinbase-agentkit/changelog.d/110.feature.md
  python/coinbase-agentkit/coinbase_agentkit/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/allora_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/schemas.py
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/tests/action_providers/allora/README.md
  python/coinbase-agentkit/tests/action_providers/allora/__init__.py
  python/coinbase-agentkit/tests/action_providers/allora/conftest.py
  python/coinbase-agentkit/tests/action_providers/allora/test_allora_action_provider.py
  python/coinbase-agentkit/tests/action_providers/allora/test_allora_integration.py
  python/examples/langchain-cdp-chatbot/chatbot.py
  python/examples/langchain-cdp-chatbot/poetry.lock
  python/examples/langchain-cdp-chatbot/pyproject.toml
Labels: documentation, action provider, changes requested, cherry, example, python

#564 fix typo: OpenSeas to OpenSea
  WISHLIST.md
Labels: documentation

#563 fix typo
  CONTRIBUTING-PYTHON.md
Labels: documentation

#568 chore: add mcp template
  typescript/create-onchain-agent/templates/mcp/.gitignore
  typescript/create-onchain-agent/templates/mcp/README.md
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/custom-emv/viem/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/custom-emv/viem/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/cdp/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/cdp/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/privy/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/privy/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/smart/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/smart/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/viem/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/viem/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/privy/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/privy/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/solana-keypair/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/solana-keypair/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/index.ts
  typescript/create-onchain-agent/templates/mcp/tsconfig.json
  typescript/package-lock.json
  typescript/package.json
Labels: documentation, typescript, no changelog required

#567 fix: readded missing .env.local file
  python/create-onchain-agent/templates/beginner/.env.local.jinja
Labels: no changelog required

#569 feat(create-onchain-agent): add mcp to typescript cli
  typescript/.changeset/breezy-badgers-marry.md
  typescript/.changeset/config.json
  typescript/create-onchain-agent/README.md
  typescript/create-onchain-agent/src/cli.ts
  typescript/create-onchain-agent/src/constants.ts
  typescript/create-onchain-agent/src/types.ts
  typescript/create-onchain-agent/src/utils.ts
Labels: documentation, typescript

#573 fix: Morpho Deposit Atomic Unit Conversion
  python/coinbase-agentkit/changelog.d/573.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/morpho/morpho_action_provider.py
  python/coinbase-agentkit/tests/action_providers/morpho/test_morpho_action_provider.py
  typescript/.changeset/chubby-squids-cover.md
  typescript/agentkit/src/action-providers/morpho/morphoActionProvider.test.ts
  typescript/agentkit/src/action-providers/morpho/morphoActionProvider.ts
Labels: documentation, action provider, python, typescript

#574 chore: rm allora-sdk from example deps
  python/examples/langchain-cdp-chatbot/poetry.lock
  python/examples/langchain-cdp-chatbot/pyproject.toml
Labels: example

#575 chore: added readme tip to surpress warning
  python/create-onchain-agent/templates/beginner/README.md.jinja
  python/create-onchain-agent/templates/chatbot/README.md.jinja
  python/examples/openai-agents-sdk-cdp-chatbot/README.md
Labels: documentation, example

#576 chore: version typescript packages
  typescript/.changeset/breezy-badgers-marry.md
  typescript/.changeset/chubby-squids-cover.md
  typescript/.changeset/config.json
  typescript/.changeset/famous-pugs-divide.md
  typescript/.changeset/slick-points-smile.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/next/package.json
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/package.json
  typescript/framework-extensions/langchain/package.json
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/package-lock.json
Labels: documentation, example, framework extension

#577 chore: version python packages
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+6348ed13.feature.md
  python/coinbase-agentkit/changelog.d/+f20b45dd.feature.md
  python/coinbase-agentkit/changelog.d/110.feature.md
  python/coinbase-agentkit/changelog.d/573.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/+75e265e1.feature.md
  python/create-onchain-agent/changelog.d/557.feature.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
Labels: documentation, python

#578 New SVGs in readme
  README.md
  assets/frameworks/modelcontextprotocol.svg
  assets/frameworks/openai.svg
  assets/protocols/defillama.svg
  assets/protocols/hyperbolic.svg
  assets/protocols/opensea.svg
Labels: documentation

#582 chore: add changesets action to automate version and publish
  .github/workflows/publish_npm_agentkit_langchain.yml
  .github/workflows/publish_npm_agentkit_model_context_protocol.yml
  .github/workflows/publish_npm_agentkit_vercel_ai_sdk.yml
  .github/workflows/publish_npm_create_onchain_agent.yml
  .github/workflows/publish_npm_manual.yml
  .github/workflows/version_publish_npm.yml
  CONTRIBUTING-TYPESCRIPT.md
  typescript/package.json
Labels: documentation

#586 docs: update dead links
  python/coinbase-agentkit/README.md
Labels: documentation

#591 chore: add towncrier release notes starting point
  python/create-onchain-agent/CHANGELOG.md
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
Labels: documentation, framework extension

#592 chore: update mcp example package.json
  typescript/examples/model-context-protocol-cdp-server/package.json
  typescript/package-lock.json
Labels: example

#590 chore: add python bump scripts
  python/scripts/README.md
  python/scripts/version.py
  python/scripts/version.sh
Labels: documentation, python

#595 fix contributing link in readme
  README.md
Labels: documentation

#598 chore: add script to automate python tagging
  .github/workflows/version_publish_npm.yml
  .gitignore
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
  CONTRIBUTING.md
  python/README.md
  python/scripts/tag.sh
  python/scripts/version.sh
Labels: documentation

#608 chore(py): bump coinbase-agentkit in framework extensions
  python/examples/langchain-cdp-chatbot/poetry.lock
  python/examples/langchain-eth-account-chatbot/poetry.lock
  python/examples/langchain-smart-wallet-chatbot/poetry.lock
  python/examples/langchain-twitter-chatbot/poetry.lock
  python/examples/openai-agents-sdk-cdp-chatbot/poetry.lock
  python/framework-extensions/langchain/changelog.d/608.feature.md
  python/framework-extensions/langchain/poetry.lock
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/openai-agents-sdk/changelog.d/608.feature.md
  python/framework-extensions/openai-agents-sdk/poetry.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
Labels: documentation, example, framework extension

#566 feat: add across action provider (ts)
  typescript/.changeset/neat-emus-exist.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/across/README.md
  typescript/agentkit/src/action-providers/across/acrossActionProvider.test.ts
  typescript/agentkit/src/action-providers/across/acrossActionProvider.ts
  typescript/agentkit/src/action-providers/across/constants.ts
  typescript/agentkit/src/action-providers/across/index.ts
  typescript/agentkit/src/action-providers/across/schemas.ts
  typescript/agentkit/src/action-providers/across/utils.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/package-lock.json
Labels: documentation, action provider, apple, typescript

#609 chore(py): bump openai-agents to v0.0.6
  python/examples/openai-agents-sdk-cdp-chatbot/poetry.lock
  python/framework-extensions/openai-agents-sdk/changelog.d/609.feature.md
  python/framework-extensions/openai-agents-sdk/poetry.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
Labels: documentation, example, framework extension

#615 chore: add RELEASE.md
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
  RELEASE.md
Labels: documentation

#612 fix: ERC20 Transfer Checksum Validation (#514)
  python/coinbase-agentkit/changelog.d/514.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/erc20_action_provider.py
Labels: documentation, action provider, python

#611 feat: wallet provider tests
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/eth_account_wallet_provider.py
  python/coinbase-agentkit/tests/wallet_providers/__init__.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/__init__.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/conftest.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_basic_methods.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_contracts.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_error_handling.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_initialization.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_signing.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_tokens.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_trading.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_transactions.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_wallet_provider/test_wallet_management.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/__init__.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/conftest.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_basic_methods.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_contracts.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_gas.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_initialization.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_signing.py
  python/coinbase-agentkit/tests/wallet_providers/eth_account_wallet_provider/test_transactions.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/__init__.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/conftest.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/test_basic_methods.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/test_contracts.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/test_initialization.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/test_signing.py
  python/coinbase-agentkit/tests/wallet_providers/smart_wallet_provider/test_transactions.py
  python/coinbase-agentkit/tests/wallet_providers/test_evm_wallet_provider.py
  python/coinbase-agentkit/tests/wallet_providers/test_wallet_provider.py
  typescript/agentkit/.eslintrc.json
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/evmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyEvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privySvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/smartWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/viemWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/walletProvider.test.ts
Labels: wallet provider, python, typescript

#619 feat(ts): messari action provider
  typescript/.changeset/ninety-gifts-know.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/messari/README.md
  typescript/agentkit/src/action-providers/messari/constants.ts
  typescript/agentkit/src/action-providers/messari/index.ts
  typescript/agentkit/src/action-providers/messari/messariActionProvider.test.ts
  typescript/agentkit/src/action-providers/messari/messariActionProvider.ts
  typescript/agentkit/src/action-providers/messari/schemas.ts
  typescript/agentkit/src/action-providers/messari/types.ts
  typescript/agentkit/src/action-providers/messari/utils.ts
Labels: documentation, action provider, typescript

#613 feat: refactor npm to pnpm
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_nightly.yml
  .github/workflows/publish_npm_manual.yml
  .github/workflows/unit_tests.yml
  .github/workflows/version_publish_npm.yml
  .gitignore
  CONTRIBUTING-TYPESCRIPT.md
  typescript/agentkit/package.json
  typescript/agentkit/scripts/generate-action-provider/README.md
  typescript/agentkit/scripts/generate-action-provider/utils.ts
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/evmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/smartWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/viemWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/walletProvider.test.ts
  typescript/create-onchain-agent/package.json
  typescript/examples/langchain-cdp-chatbot/package.json
  typescript/examples/langchain-farcaster-chatbot/package.json
  typescript/examples/langchain-privy-chatbot/package.json
  typescript/examples/langchain-smart-wallet-chatbot/package.json
  typescript/examples/langchain-solana-chatbot/chatbot.ts
  typescript/examples/langchain-solana-chatbot/package.json
  typescript/examples/langchain-twitter-chatbot/package.json
  typescript/examples/model-context-protocol-cdp-server/package.json
  typescript/examples/vercel-ai-sdk-cdp-chatbot/package.json
  typescript/framework-extensions/langchain/package.json
  typescript/framework-extensions/model-context-protocol/package.json
  typescript/framework-extensions/vercel-ai-sdk/package.json
  typescript/package-lock.json
  typescript/package.json
  typescript/pnpm-lock.yaml
  typescript/pnpm-workspace.yaml
  typescript/turbo.json
Labels: documentation, wallet provider, example, framework extension, typescript

#629 chore(py): automate tagging
  .github/workflows/publish_pypi_coinbase_agentkit.yml
  .github/workflows/publish_pypi_coinbase_agentkit_langchain.yml
  .github/workflows/publish_pypi_coinbase_agentkit_openai_agents_sdk.yml
  .github/workflows/publish_pypi_create_onchain_agent.yml
  RELEASE.md
  python/scripts/README.md
  python/scripts/tag.sh
  python/scripts/version.sh
Labels: documentation

#618 Add support for Privy embedded wallets with delegation
  typescript/.changeset/privy-evm-embedded-wallet.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privyShared.ts
  typescript/agentkit/src/wallet-providers/privyWalletProvider.ts
  typescript/examples/langchain-privy-chatbot/README.md
  typescript/examples/langchain-privy-chatbot/chatbot.ts
  typescript/pnpm-lock.yaml
Labels: documentation, wallet provider, example, typescript

#630 chore: version python packages
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/279.feature.md
  python/coinbase-agentkit/changelog.d/514.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/622.feature.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/langchain/changelog.d/608.feature.md
  python/framework-extensions/langchain/docs/conf.py
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/changelog.d/608.feature.md
  python/framework-extensions/openai-agents-sdk/changelog.d/609.feature.md
  python/framework-extensions/openai-agents-sdk/pyproject.toml
Labels: documentation, framework extension, python

#636 chore: fix python release
  .github/workflows/publish_pypi_coinbase_agentkit.yml
  .github/workflows/publish_pypi_coinbase_agentkit_langchain.yml
  .github/workflows/publish_pypi_coinbase_agentkit_openai_agents_sdk.yml
  .github/workflows/publish_pypi_create_onchain_agent.yml
  RELEASE.md
  python/scripts/version.sh
Labels: documentation

#637 feat: Migrate to uv
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/publish_docs.yml
  .github/workflows/publish_nightly.yml
  .github/workflows/publish_pypi_coinbase_agentkit.yml
  .github/workflows/publish_pypi_coinbase_agentkit_langchain.yml
  .github/workflows/publish_pypi_coinbase_agentkit_openai_agents_sdk.yml
  .github/workflows/publish_pypi_create_onchain_agent.yml
  .github/workflows/unit_tests.yml
  CONTRIBUTING-PYTHON.md
  python/coinbase-agentkit/Makefile
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/poetry.lock
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/scripts/generate_action_provider/README.md
  python/coinbase-agentkit/tests/action_providers/allora/README.md
  python/coinbase-agentkit/uv.lock
  python/create-onchain-agent/Makefile
  python/create-onchain-agent/poetry.lock
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/uv.lock
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/Makefile
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/README.md
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/poetry.lock
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/pyproject.toml
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/uv.lock
  python/examples/langchain-cdp-chatbot/Makefile
  python/examples/langchain-cdp-chatbot/README.md
  python/examples/langchain-cdp-chatbot/poetry.lock
  python/examples/langchain-cdp-chatbot/pyproject.toml
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/Makefile
  python/examples/langchain-eth-account-chatbot/README.md
  python/examples/langchain-eth-account-chatbot/poetry.lock
  python/examples/langchain-eth-account-chatbot/pyproject.toml
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-smart-wallet-chatbot/Makefile
  python/examples/langchain-smart-wallet-chatbot/README.md
  python/examples/langchain-smart-wallet-chatbot/poetry.lock
  python/examples/langchain-smart-wallet-chatbot/pyproject.toml
  python/examples/langchain-smart-wallet-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/Makefile
  python/examples/langchain-twitter-chatbot/README.md
  python/examples/langchain-twitter-chatbot/poetry.lock
  python/examples/langchain-twitter-chatbot/pyproject.toml
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/Makefile
  python/examples/openai-agents-sdk-smart-wallet-chatbot/README.md
  python/examples/openai-agents-sdk-smart-wallet-chatbot/poetry.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/pyproject.toml
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/framework-extensions/langchain/Makefile
  python/framework-extensions/langchain/poetry.lock
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/Makefile
  python/framework-extensions/openai-agents-sdk/poetry.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
Labels: documentation, action provider, example, framework extension
