Repository coinbase/agentkit, pull requests merged in 2025-04, with the labels that each got.

#640 fix: added Nillion to python's core readme
  python/coinbase-agentkit/README.md
Labels: documentation

#642 fix: removed CdpWalletActionProvider from smart wallet action provider lists
  typescript/.changeset/sad-windows-divide.md
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/smart/getAgentKit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/prepareAgentkit/agentkit/evm/smart/prepareAgentkit.ts
  typescript/examples/langchain-smart-wallet-chatbot/chatbot.ts
Labels: documentation, example, typescript

#634 Added support for XMTP chatbot example.
  CONTRIBUTING.md
  README.md
  typescript/examples/langchain-xmtp-chatbot/.env-local
  typescript/examples/langchain-xmtp-chatbot/.eslintrc.json
  typescript/examples/langchain-xmtp-chatbot/.gitignore
  typescript/examples/langchain-xmtp-chatbot/.prettierignore
  typescript/examples/langchain-xmtp-chatbot/.prettierrc
  typescript/examples/langchain-xmtp-chatbot/README.md
  typescript/examples/langchain-xmtp-chatbot/chatbot.ts
  typescript/examples/langchain-xmtp-chatbot/package.json
  typescript/examples/langchain-xmtp-chatbot/scripts/generate-keys.ts
  typescript/examples/langchain-xmtp-chatbot/tsconfig.json
  typescript/pnpm-lock.yaml
Labels: documentation, example, typescript

#641 Add transaction queue to cdp wallet provider
  typescript/.changeset/cold-cougars-hug.md
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.ts
Labels: documentation, wallet provider, typescript

#639 feat: python - OnrampActionProvider
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/changelog.d/639.feature.md
  python/coinbase-agentkit/coinbase_agentkit/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/constants.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/onramp_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/schemas.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/onramp/utils.py
  python/coinbase-agentkit/tests/action_providers/onramp/__init__.py
  python/coinbase-agentkit/tests/action_providers/onramp/conftest.py
  python/coinbase-agentkit/tests/action_providers/onramp/test_onramp_action_provider.py
Labels: documentation, action provider, python

#638 feat: typescript - OnrampActionProvider
  typescript/.changeset/great-cameras-sit.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/onramp/README.md
  typescript/agentkit/src/action-providers/onramp/index.ts
  typescript/agentkit/src/action-providers/onramp/onrampActionProvider.test.ts
  typescript/agentkit/src/action-providers/onramp/onrampActionProvider.ts
  typescript/agentkit/src/action-providers/onramp/schemas.ts
  typescript/agentkit/src/action-providers/onramp/types.ts
  typescript/agentkit/src/action-providers/onramp/utils.ts
  typescript/agentkit/src/action-providers/onramp/version.ts
Labels: documentation, action provider, typescript

#646 fix: added manual install step to readme if agentkit cli is not found
  typescript/create-onchain-agent/README.md
Labels: documentation

#617 feat(ts): FLAUNCH action provider
  typescript/.changeset/early-jeans-bake.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/flaunch/README.md
  typescript/agentkit/src/action-providers/flaunch/constants.ts
  typescript/agentkit/src/action-providers/flaunch/flaunchActionProvider.test.ts
  typescript/agentkit/src/action-providers/flaunch/flaunchActionProvider.ts
  typescript/agentkit/src/action-providers/flaunch/index.ts
  typescript/agentkit/src/action-providers/flaunch/schemas.ts
  typescript/agentkit/src/action-providers/flaunch/types.ts
  typescript/agentkit/src/action-providers/flaunch/utils.ts
  typescript/agentkit/src/action-providers/index.ts
Labels: documentation, action provider, apple, typescript

#650 chore: version typescript packages
  typescript/.changeset/cold-cougars-hug.md
  typescript/.changeset/early-jeans-bake.md
  typescript/.changeset/great-cameras-sit.md
  typescript/.changeset/sad-windows-divide.md
  typescript/.changeset/wet-berries-shave.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#653 chore: python version packages
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+fa91bf7c.feature.md
  python/coinbase-agentkit/changelog.d/639.feature.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/uv.lock
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/examples/langchain-cdp-chatbot-with-nillion-secretvault/uv.lock
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-smart-wallet-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
Labels: documentation, example, framework extension, python

#654 chore: python version package
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/uv.lock
Labels: documentation

#656 Fixed privy dependency bug
  typescript/.changeset/giant-impalas-relate.md
  typescript/agentkit/package.json
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privyShared.ts
  typescript/agentkit/src/wallet-providers/privySvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privySvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privyWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyWalletProvider.ts
  typescript/pnpm-lock.yaml
Labels: documentation, wallet provider, typescript

#660 Improve README.md
  README.md
Labels: documentation

#663 depp: bumped agentkit dependency to 0.6.0 in templates
  typescript/.changeset/wild-wolves-count.md
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/next/package.json
  typescript/pnpm-lock.yaml
Labels: documentation

#664 chore: version typescript packages
  typescript/.changeset/giant-impalas-relate.md
  typescript/.changeset/wild-wolves-count.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#645 Add vaults.fyi provider
  package-lock.json
  typescript/.changeset/rotten-lamps-join.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/vaultsfyi/README.md
  typescript/agentkit/src/action-providers/vaultsfyi/api/actions.ts
  typescript/agentkit/src/action-providers/vaultsfyi/api/types.ts
  typescript/agentkit/src/action-providers/vaultsfyi/api/vaults.ts
  typescript/agentkit/src/action-providers/vaultsfyi/constants.ts
  typescript/agentkit/src/action-providers/vaultsfyi/index.ts
  typescript/agentkit/src/action-providers/vaultsfyi/schemas.ts
  typescript/agentkit/src/action-providers/vaultsfyi/utils.ts
  typescript/agentkit/src/action-providers/vaultsfyi/vaultsfyiActionProvider.test.ts
  typescript/agentkit/src/action-providers/vaultsfyi/vaultsfyiActionProvider.ts
Labels: documentation, action provider, typescript

#671 chore: version typescript packages
  typescript/.changeset/rotten-lamps-join.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
Labels: documentation

#674 fix: tighten up mcp build
  typescript/.changeset/proud-comics-invite.md
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/mcp/tsconfig.json
  typescript/create-onchain-agent/templates/mcp/tsup.config.ts
  typescript/pnpm-lock.yaml
Labels: documentation, typescript

#628 fix: typos in documentation files
  python/coinbase-agentkit/coinbase_agentkit/action_providers/hyperboliclabs/README.md
Labels: documentation, action provider

#676 Update CONTRIBUTING-TYPESCRIPT.md
  CONTRIBUTING-TYPESCRIPT.md
Labels: documentation

#665 feat: add zeroDevWalletProvider
  typescript/.changeset/loud-turtles-visit.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/zerodev/README.md
  typescript/agentkit/src/action-providers/zerodev/index.ts
  typescript/agentkit/src/action-providers/zerodev/schemas.ts
  typescript/agentkit/src/action-providers/zerodev/zeroDevWalletActionProvider.test.ts
  typescript/agentkit/src/action-providers/zerodev/zeroDevWalletActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpWalletProvider.ts
  typescript/agentkit/src/wallet-providers/evmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/agentkit/src/wallet-providers/walletProvider.test.ts
  typescript/agentkit/src/wallet-providers/zeroDevWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/zeroDevWalletProvider.ts
  typescript/examples/langchain-zerodev-chatbot/.env-local
  typescript/examples/langchain-zerodev-chatbot/.eslintrc.json
  typescript/examples/langchain-zerodev-chatbot/.prettierignore
  typescript/examples/langchain-zerodev-chatbot/.prettierrc
  typescript/examples/langchain-zerodev-chatbot/README.md
  typescript/examples/langchain-zerodev-chatbot/chatbot.ts
  typescript/examples/langchain-zerodev-chatbot/package.json
  typescript/examples/langchain-zerodev-chatbot/tsconfig.json
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, wallet provider, banana, example, typescript

#678 feat: added CdpV2WalletProvider (EVM and Solana)
  CONTRIBUTING.md
  README.md
  typescript/.changeset/metal-ads-clap.md
  typescript/agentkit/README.md
  typescript/agentkit/jest.config.cjs
  typescript/agentkit/package.json
  typescript/agentkit/setup-jest.js
  typescript/agentkit/src/action-providers/cdp-v2/README.md
  typescript/agentkit/src/action-providers/cdp-v2/cdpApiV2ActionProvider.ts
  typescript/agentkit/src/action-providers/cdp-v2/index.ts
  typescript/agentkit/src/action-providers/cdp-v2/schemas.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/network/svm.ts
  typescript/agentkit/src/wallet-providers/cdpV2EvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpV2EvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpV2Shared.ts
  typescript/agentkit/src/wallet-providers/cdpV2SolanaWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpV2SolanaWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpV2WalletProvider.ts
  typescript/agentkit/src/wallet-providers/index.ts
  typescript/examples/langchain-cdp-v2-chatbot/.env-local
  typescript/examples/langchain-cdp-v2-chatbot/.eslintrc.json
  typescript/examples/langchain-cdp-v2-chatbot/.prettierignore
  typescript/examples/langchain-cdp-v2-chatbot/.prettierrc
  typescript/examples/langchain-cdp-v2-chatbot/README.md
  typescript/examples/langchain-cdp-v2-chatbot/chatbot.ts
  typescript/examples/langchain-cdp-v2-chatbot/package.json
  typescript/examples/langchain-cdp-v2-chatbot/tsconfig.json
  typescript/framework-extensions/langchain/jest.config.cjs
  typescript/framework-extensions/langchain/setup-jest.js
  typescript/framework-extensions/model-context-protocol/jest.config.cjs
  typescript/framework-extensions/model-context-protocol/setup-jest.js
  typescript/framework-extensions/vercel-ai-sdk/jest.config.cjs
  typescript/framework-extensions/vercel-ai-sdk/setup-jest.js
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, wallet provider, example, framework extension, typescript

#690 chore: version typescript packages
  typescript/.changeset/loud-turtles-visit.md
  typescript/.changeset/metal-ads-clap.md
  typescript/.changeset/proud-comics-invite.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation
