Repository coinbase/agentkit, pull requests merged in 2025-05, with the labels that each got.

#697 chore: version typescript packages
  typescript/.changeset/kind-bees-smell.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
Labels: documentation

#709 Add more detailed instructions to ZeroDev chatbot example
  typescript/examples/langchain-zerodev-chatbot/README.md
Labels: documentation, example

#701 chore: update link to CONTRIBUTING.md
  python/coinbase-agentkit/README.md
Labels: documentation

#710 chore: version python core package
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+9ffcfb65.feature.md
  python/coinbase-agentkit/changelog.d/+f0dd54ce.feature.md
  python/coinbase-agentkit/changelog.d/705.feature.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/uv.lock
  python/examples/langchain-cdp-server-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
Labels: documentation, example, framework extension, python

#713 chore: version python packages
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/705.feature.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/create-onchain-agent/uv.lock
  python/examples/langchain-cdp-server-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/langchain/changelog.d/705.feature.md
  python/framework-extensions/langchain/docs/conf.py
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/changelog.d/705.feature.md
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
Labels: documentation, example, framework extension, python

#714 fix: assigning gas estimations and chainId in sendTransaction
  typescript/agentkit/src/action-providers/cdp-v2/cdpApiV2ActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpV2EvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpV2Shared.ts
Labels: action provider, wallet provider, typescript

#716 Add missing changeset
  typescript/.changeset/vast-waves-own.md
Labels: documentation

#718 chore: version typescript packages
  typescript/.changeset/vast-waves-own.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
Labels: documentation

#719 fix: CdpEvmSmartWalletProvider
  python/coinbase-agentkit/changelog.d/+fcba5356.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/cdp_evm_smart_wallet_provider.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_evm_smart_wallet_provider/conftest.py
  python/coinbase-agentkit/tests/wallet_providers/cdp_evm_smart_wallet_provider/test_basic_methods.py
  python/create-onchain-agent/templates/chatbot/setup.py.jinja
  python/examples/langchain-cdp-smart-wallet-chatbot/chatbot.py
  python/examples/openai-agents-sdk-smart-wallet-chatbot/chatbot.py
  python/scripts/sync_examples.sh
Labels: documentation, wallet provider, example, python

#720 bump: python core package
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+fcba5356.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/uv.lock
  python/examples/langchain-cdp-server-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
Labels: documentation, example, python

#721 fix: ensure templates download does not hit stale main cache
  python/create-onchain-agent/create_onchain_agent/cli.py
Labels: python

#723 docs: fix 404 link
  CONTRIBUTING-TYPESCRIPT.md
Labels: documentation

#733 feat: improved error handling in next template of cli
  typescript/.changeset/cyan-llamas-bow.md
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/cdp/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/privy/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/svm/privy/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/langchain/create-agent.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/langchain/route.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/vercel-ai-sdk/create-agent.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/framework/vercel-ai-sdk/route.ts
Labels: documentation, typescript

#729 fix error `persistance` to `persistence` CHANGELOG.md
  python/create-onchain-agent/CHANGELOG.md
Labels: documentation

#726 docs: Update agentkit link README.md
  python/framework-extensions/langchain/README.md
Labels: documentation, framework extension

#744 fix: ignore templates
  typescript/.changeset/config.json
  typescript/.changeset/dirty-candies-thank.md
Labels: documentation

#746 chore: version typescript packages
  typescript/.changeset/cyan-llamas-bow.md
  typescript/.changeset/fluffy-adults-stay.md
  typescript/.changeset/silent-geckos-go.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/next/package.json
Labels: documentation

#747 chore: bump python packages
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/changelog.d/+4cc563fc.feature.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/create-onchain-agent/uv.lock
  python/examples/langchain-cdp-chatbot-with-aws-bedrock/uv.lock
  python/examples/langchain-cdp-server-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/langchain/docs/conf.py
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
Labels: documentation, example, framework extension, python
