Repository coinbase/agentkit, pull requests merged in 2025-07, with the labels that each got.

#774 feat: improve x402 action provider in typescript
  typescript/.changeset/tough-readers-attack.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/x402/README.md
  typescript/agentkit/src/action-providers/x402/schemas.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.test.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, typescript

#793 chore: version typescript packages
  typescript/.changeset/old-colts-lick.md
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#765 Fix typo in bridging warning message
  typescript/agentkit/src/action-providers/across/README.md
Labels: documentation, action provider

#768 fix elizaos-plugins reference
  CONTRIBUTING-TYPESCRIPT.md
Labels: documentation

#675 feat:post embeds on Farcaster and media on Twitter (ts)
  typescript/.changeset/nice-ducks-search.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/farcaster/README.md
  typescript/agentkit/src/action-providers/farcaster/farcasterActionProvider.test.ts
  typescript/agentkit/src/action-providers/farcaster/farcasterActionProvider.ts
  typescript/agentkit/src/action-providers/farcaster/schemas.ts
  typescript/agentkit/src/action-providers/twitter/README.md
  typescript/agentkit/src/action-providers/twitter/schemas.ts
  typescript/agentkit/src/action-providers/twitter/twitterActionProvider.test.ts
  typescript/agentkit/src/action-providers/twitter/twitterActionProvider.ts
Labels: documentation, action provider, typescript

#798 Strands Agents framework Extension
  python/README.md
  python/examples/strands-agents-cdp-server-chatbot/.env.local
  python/examples/strands-agents-cdp-server-chatbot/Makefile
  python/examples/strands-agents-cdp-server-chatbot/README.md
  python/examples/strands-agents-cdp-server-chatbot/chatbot.py
  python/examples/strands-agents-cdp-server-chatbot/pyproject.toml
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/strands-agents/CHANGELOG.md
  python/framework-extensions/strands-agents/Makefile
  python/framework-extensions/strands-agents/README.md
  python/framework-extensions/strands-agents/coinbase_agentkit_strands_agents/__init__.py
  python/framework-extensions/strands-agents/coinbase_agentkit_strands_agents/strands_agents_tools.py
  python/framework-extensions/strands-agents/docs/Makefile
  python/framework-extensions/strands-agents/docs/coinbase_agentkit_strands_agents.rst
  python/framework-extensions/strands-agents/docs/conf.py
  python/framework-extensions/strands-agents/docs/index.rst
  python/framework-extensions/strands-agents/docs/make.bat
  python/framework-extensions/strands-agents/docs/modules.rst
  python/framework-extensions/strands-agents/pyproject.toml
  python/framework-extensions/strands-agents/uv.lock
Labels: documentation, example, framework extension, python

#704 Zora Coins SDK
  typescript/.changeset/poor-phones-hide.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/zora/README.md
  typescript/agentkit/src/action-providers/zora/index.ts
  typescript/agentkit/src/action-providers/zora/schemas.ts
  typescript/agentkit/src/action-providers/zora/utils.ts
  typescript/agentkit/src/action-providers/zora/zoraActionProvider.test.ts
  typescript/agentkit/src/action-providers/zora/zoraActionProvider.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, typescript

#614 feat:Truemarkets action provider (ts)
  typescript/.changeset/fresh-memes-move.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/truemarkets/README.md
  typescript/agentkit/src/action-providers/truemarkets/constants.ts
  typescript/agentkit/src/action-providers/truemarkets/index.ts
  typescript/agentkit/src/action-providers/truemarkets/schemas.ts
  typescript/agentkit/src/action-providers/truemarkets/truemarketsActionProvider.test.ts
  typescript/agentkit/src/action-providers/truemarkets/truemarketsActionProvider.ts
  typescript/agentkit/src/action-providers/truemarkets/utils.ts
Labels: documentation, action provider, typescript

#799 fix: changed changeset from minor to patch
  typescript/.changeset/nice-ducks-search.md
  typescript/.changeset/poor-phones-hide.md
  typescript/.changeset/violet-breads-kneel.md
Labels: documentation

#805 fix: bug in configureWithWallet config
  typescript/.changeset/short-carpets-share.md
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
Labels: documentation, typescript
