Repository coinbase/agentkit, pull requests merged in 2025-10, with the labels that each got.

#852 feat: Add svm support to x402 action
  typescript/.changeset/empty-baths-send.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/x402/README.md
  typescript/agentkit/src/action-providers/x402/utils.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.test.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpSolanaWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpSolanaWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privySvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privySvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/svmWalletProvider.ts
  typescript/examples/langchain-cdp-chatbot/chatbot.ts
  typescript/examples/langchain-solana-chatbot/chatbot.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, wallet provider, example, typescript

#741 Yelay Lite Action Provider
  typescript/.changeset/legal-masks-lie.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/yelay/README.md
  typescript/agentkit/src/action-providers/yelay/constants.ts
  typescript/agentkit/src/action-providers/yelay/index.ts
  typescript/agentkit/src/action-providers/yelay/schemas.ts
  typescript/agentkit/src/action-providers/yelay/types.ts
  typescript/agentkit/src/action-providers/yelay/yelayActionProvider.test.ts
  typescript/agentkit/src/action-providers/yelay/yelayActionProvider.ts
Labels: documentation, action provider, typescript

#160 feat: add Enso route action
  typescript/.changeset/loose-seals-walk.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/enso/README.md
  typescript/agentkit/src/action-providers/enso/constants.ts
  typescript/agentkit/src/action-providers/enso/ensoActionProvider.test.ts
  typescript/agentkit/src/action-providers/enso/ensoActionProvider.ts
  typescript/agentkit/src/action-providers/enso/index.ts
  typescript/agentkit/src/action-providers/enso/schemas.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, changes requested, cherry, typescript

#858 fix: bug in retrieving tx logs for smart accounts
  typescript/.changeset/moody-places-burn.md
  typescript/agentkit/src/wallet-providers/cdpSmartWalletProvider.ts
Labels: documentation, wallet provider, typescript

#860 Fix unit issues in balance/transfer actions and add approval actions (py)
  python/coinbase-agentkit/README.md
  python/coinbase-agentkit/changelog.d/860.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/constants.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/erc20_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/schemas.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc20/utils.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/wallet/wallet_action_provider.py
  python/coinbase-agentkit/tests/action_providers/erc20/conftest.py
  python/coinbase-agentkit/tests/action_providers/erc20/test_erc20_action_provider.py
  python/coinbase-agentkit/tests/action_providers/wallet/test_get_details.py
  python/coinbase-agentkit/tests/action_providers/wallet/test_native_transfer.py
  typescript/agentkit/src/action-providers/erc20/erc20ActionProvider.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.ts
Labels: documentation, action provider, python, typescript

#861 chore: version typescript packages
  typescript/.changeset/chilly-coats-take.md
  typescript/.changeset/deep-places-rhyme.md
  typescript/.changeset/empty-baths-send.md
  typescript/.changeset/legal-masks-lie.md
  typescript/.changeset/loose-seals-walk.md
  typescript/.changeset/moody-places-burn.md
  typescript/.changeset/shaggy-shirts-lie.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation
