Repository coinbase/agentkit, pull requests merged in 2025-06, with the labels that each got.

#751 fix: pin privy dependency versions
  typescript/.changeset/purple-terms-enjoy.md
  typescript/agentkit/package.json
  typescript/pnpm-lock.yaml
Labels: documentation

#700 Improve vaults.fyi provider
  package-lock.json
  typescript/.changeset/busy-times-enjoy.md
  typescript/agentkit/src/action-providers/vaultsfyi/README.md
  typescript/agentkit/src/action-providers/vaultsfyi/api/historicalData.ts
  typescript/agentkit/src/action-providers/vaultsfyi/api/vaults.ts
  typescript/agentkit/src/action-providers/vaultsfyi/schemas.ts
  typescript/agentkit/src/action-providers/vaultsfyi/utils.ts
  typescript/agentkit/src/action-providers/vaultsfyi/vaultsfyiActionProvider.test.ts
  typescript/agentkit/src/action-providers/vaultsfyi/vaultsfyiActionProvider.ts
Labels: documentation, action provider, typescript

#754 fix: rename AWS Bedrock to Amazon
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/.env.local
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/Makefile
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/README.md
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/chatbot.py
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/pyproject.toml
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/uv.lock
Labels: documentation, example, python

#753 Added x402 action provider
  typescript/.changeset/loud-jars-relate.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/x402/README.md
  typescript/agentkit/src/action-providers/x402/index.ts
  typescript/agentkit/src/action-providers/x402/schemas.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.test.ts
  typescript/agentkit/src/action-providers/x402/x402ActionProvider.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, typescript

#739 Fix broken Solana web3.js documentation link in README
  typescript/agentkit/README.md
Labels: documentation

#756 chore: version typescript packages
  typescript/.changeset/busy-times-enjoy.md
  typescript/.changeset/loud-jars-relate.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
Labels: documentation

#759 Update README.md to correct `AgentKit.from` argument keys from cdpApiKeyPrivate -> cdpApiKeySecret
  typescript/agentkit/README.md
Labels: documentation

#758 Fix typo: "persistance" → "persistence" in CHANGELOG
  typescript/create-onchain-agent/CHANGELOG.md
Labels: documentation
