Repository coinbase/agentkit, pull requests merged in 2025-08, with the labels that each got.

#801 feat: prepare strands agents for pypi packaging
  .github/workflows/lint.yml
  .github/workflows/publish_nightly.yml
  .github/workflows/publish_pypi_coinbase_agentkit_strands_agents.yml
  CONTRIBUTING.md
  README.md
  python/coinbase-agentkit/changelog.d/801.bug.md
  python/coinbase-agentkit/coinbase_agentkit/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/__init__.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/README.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/allora_action_provider.py
  python/coinbase-agentkit/coinbase_agentkit/action_providers/allora/schemas.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/tests/action_providers/allora/__init__.py
  python/coinbase-agentkit/tests/action_providers/allora/conftest.py
  python/coinbase-agentkit/tests/action_providers/allora/test_allora_action_provider.py
  python/coinbase-agentkit/tests/action_providers/allora/test_allora_integration.py
  python/coinbase-agentkit/uv.lock
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/chatbot.py
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/uv.lock
  python/examples/langchain-cdp-chatbot/chatbot.py
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-cdp-solana-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/chatbot.py
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/examples/strands-agents-cdp-server-chatbot/chatbot.py
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/strands-agents/changelog.d/+bdc60cf1.feature.md
  python/framework-extensions/strands-agents/pyproject.toml
  python/framework-extensions/strands-agents/uv.lock
  python/scripts/test/test_phase_2.sh
  python/scripts/utils/package_definitions.py
Labels: documentation, action provider, example, framework extension, python

#810 chore: version typescript packages
  typescript/.changeset/green-planes-decide.md
  typescript/.changeset/short-carpets-share.md
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#812 chore: update strands to use deployed agentkit v0.7.1
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/strands-agents/pyproject.toml
  python/framework-extensions/strands-agents/uv.lock
Labels: example, framework extension

#814 Add paymaster to CdpSmartWallet
  typescript/.changeset/tame-eggs-rush.md
  typescript/agentkit/src/action-providers/cdp/cdpApiActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpShared.ts
  typescript/agentkit/src/wallet-providers/cdpSmartWalletProvider.ts
  typescript/create-onchain-agent/templates/prepareAgentkit/agentkit/evm/smart/prepareAgentkit.ts
  typescript/examples/langchain-cdp-smart-wallet-chatbot/.env-local
  typescript/examples/langchain-cdp-smart-wallet-chatbot/README.md
  typescript/examples/langchain-cdp-smart-wallet-chatbot/chatbot.ts
Labels: documentation, action provider, wallet provider, example, typescript

#816 feat(TS): Integrate Zerion API for agentkit
  typescript/.changeset/slick-guests-sleep.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/zerion/README.md
  typescript/agentkit/src/action-providers/zerion/constants.ts
  typescript/agentkit/src/action-providers/zerion/index.ts
  typescript/agentkit/src/action-providers/zerion/schemas.ts
  typescript/agentkit/src/action-providers/zerion/types.ts
  typescript/agentkit/src/action-providers/zerion/utils.ts
  typescript/agentkit/src/action-providers/zerion/zerionActionProvider.test.ts
  typescript/agentkit/src/action-providers/zerion/zerionActionProvider.ts
Labels: documentation, action provider, typescript

#819 chore: version typescript packages
  typescript/.changeset/slick-guests-sleep.md
  typescript/.changeset/tame-eggs-rush.md
  typescript/.changeset/twelve-planes-swim.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#822 update readme/contributing guides
  CONTRIBUTING-PYTHON.md
  CONTRIBUTING-TYPESCRIPT.md
  CONTRIBUTING.md
  README.md
  typescript/create-onchain-agent/README.md
Labels: documentation

#823 feat: superfluid typescript action provider
  typescript/.changeset/slimy-garlics-drum.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/superfluid/README.md
  typescript/agentkit/src/action-providers/superfluid/constants.ts
  typescript/agentkit/src/action-providers/superfluid/graphQueries/endpoints.ts
  typescript/agentkit/src/action-providers/superfluid/graphQueries/queries.ts
  typescript/agentkit/src/action-providers/superfluid/graphQueries/superfluidGraphQueries.ts
  typescript/agentkit/src/action-providers/superfluid/graphQueries/types.ts
  typescript/agentkit/src/action-providers/superfluid/index.ts
  typescript/agentkit/src/action-providers/superfluid/schemas.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidPoolActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidPoolActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidQueryActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidQueryActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidStreamActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidStreamActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidSuperTokenCreatorActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidSuperTokenCreatorActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidWrapperActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidWrapperActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/utils/parseLogs.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, typescript

#827 chore: fix typo in readme
  python/coinbase-agentkit/README.md
Labels: documentation
