Repository coinbase/agentkit, pull requests merged in 2025-09, with the labels that each got.

#681 feat:trades via 0x
  typescript/.changeset/whole-times-fetch.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/index.ts
  typescript/agentkit/src/action-providers/zeroX/README.md
  typescript/agentkit/src/action-providers/zeroX/index.ts
  typescript/agentkit/src/action-providers/zeroX/schemas.ts
  typescript/agentkit/src/action-providers/zeroX/utils.ts
  typescript/agentkit/src/action-providers/zeroX/zeroXActionProvider.test.ts
  typescript/agentkit/src/action-providers/zeroX/zeroXActionProvider.ts
Labels: documentation, action provider, typescript

#834 feat: publishing workflows for pydantic ai and autogen framework extensions
  .github/workflows/publish_pypi_coinbase_agentkit_autogen.yml
  .github/workflows/publish_pypi_coinbase_agentkit_pydantic_ai.yml
  python/scripts/get_packages_to_tag.py
  python/scripts/utils/package_definitions.py
Labels: python

#835 Fix unit issues in balance/transfer actions
  typescript/.changeset/fruity-heads-visit.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/across/acrossActionProvider.ts
  typescript/agentkit/src/action-providers/cdp/cdpEvmWalletActionProvider.ts
  typescript/agentkit/src/action-providers/cdp/cdpSmartWalletActionProvider.ts
  typescript/agentkit/src/action-providers/compound/constants.ts
  typescript/agentkit/src/action-providers/erc20/README.md
  typescript/agentkit/src/action-providers/erc20/constants.ts
  typescript/agentkit/src/action-providers/erc20/erc20ActionProvider.test.ts
  typescript/agentkit/src/action-providers/erc20/erc20ActionProvider.ts
  typescript/agentkit/src/action-providers/erc20/schemas.ts
  typescript/agentkit/src/action-providers/erc20/utils.ts
  typescript/agentkit/src/action-providers/flaunch/constants.ts
  typescript/agentkit/src/action-providers/morpho/morphoActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidSuperTokenCreatorActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidWrapperActionProvider.test.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidWrapperActionProvider.ts
  typescript/agentkit/src/action-providers/truemarkets/truemarketsActionProvider.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.test.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.ts
  typescript/agentkit/src/action-providers/zeroX/zeroXActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpEvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpSmartWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpSolanaWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpSolanaWalletProvider.ts
  typescript/agentkit/src/wallet-providers/legacyCdpSmartWalletProvider.ts
  typescript/agentkit/src/wallet-providers/legacyCdpWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/privyEvmDelegatedEmbeddedWalletProvider.ts
  typescript/agentkit/src/wallet-providers/privyEvmWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/solanaKeypairWalletProvider.ts
  typescript/agentkit/src/wallet-providers/viemWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/viemWalletProvider.ts
  typescript/agentkit/src/wallet-providers/walletProvider.ts
  typescript/agentkit/src/wallet-providers/zeroDevWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/zeroDevWalletProvider.ts
  typescript/examples/langchain-cdp-chatbot/chatbot.ts
Labels: documentation, action provider, wallet provider, example, typescript

#825 feat: added Clanker typescript action support
  typescript/.changeset/tasty-dragons-vanish.md
  typescript/agentkit/README.md
  typescript/agentkit/package.json
  typescript/agentkit/src/action-providers/clanker/README.md
  typescript/agentkit/src/action-providers/clanker/clankerActionProvider.test.ts
  typescript/agentkit/src/action-providers/clanker/clankerActionProvider.ts
  typescript/agentkit/src/action-providers/clanker/index.ts
  typescript/agentkit/src/action-providers/clanker/schemas.ts
  typescript/agentkit/src/action-providers/clanker/utils.ts
  typescript/agentkit/src/action-providers/index.ts
  typescript/pnpm-lock.yaml
Labels: documentation, action provider, typescript

#831 fix: Add hardcoded ETH price feed ID for Pyth as stop-gap solution
  python/coinbase-agentkit/changelog.d/+3574aa51.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/pyth/pyth_action_provider.py
  typescript/.changeset/chubby-suits-follow.md
  typescript/agentkit/src/action-providers/pyth/pythActionProvider.test.ts
  typescript/agentkit/src/action-providers/pyth/pythActionProvider.ts
Labels: documentation, action provider, python, typescript

#837 chore: version typescript packages
  typescript/.changeset/beige-readers-dress.md
  typescript/.changeset/forty-knives-act.md
  typescript/.changeset/fruity-heads-visit.md
  typescript/.changeset/ninety-bags-invent.md
  typescript/.changeset/silly-bees-call.md
  typescript/.changeset/slimy-garlics-drum.md
  typescript/.changeset/tasty-dragons-vanish.md
  typescript/.changeset/whole-times-fetch.md
  typescript/agentkit/CHANGELOG.md
  typescript/agentkit/package.json
  typescript/create-onchain-agent/CHANGELOG.md
  typescript/create-onchain-agent/package.json
Labels: documentation

#838 chore: version core python package
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/+2769d1c2.bugfix.md
  python/coinbase-agentkit/changelog.d/+3574aa51.bugfix.md
  python/coinbase-agentkit/changelog.d/824.feature.md
  python/coinbase-agentkit/changelog.d/829.bugfix.md
  python/coinbase-agentkit/changelog.d/836.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/uv.lock
  python/examples/autogen-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/uv.lock
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-cdp-solana-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/examples/pydantic-ai-cdp-chatbot/uv.lock
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/autogen/pyproject.toml
  python/framework-extensions/autogen/uv.lock
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
  python/framework-extensions/pydantic-ai/pyproject.toml
  python/framework-extensions/pydantic-ai/uv.lock
  python/framework-extensions/strands-agents/pyproject.toml
  python/framework-extensions/strands-agents/uv.lock
Labels: documentation, example, framework extension, python

#839 chore: version python packages
  python/create-onchain-agent/CHANGELOG.md
  python/create-onchain-agent/pyproject.toml
  python/create-onchain-agent/templates/beginner/pyproject.toml.jinja
  python/create-onchain-agent/templates/chatbot/pyproject.toml.jinja
  python/create-onchain-agent/uv.lock
  python/examples/autogen-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/uv.lock
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-cdp-solana-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/examples/pydantic-ai-cdp-chatbot/uv.lock
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/autogen/CHANGELOG.md
  python/framework-extensions/autogen/pyproject.toml
  python/framework-extensions/autogen/uv.lock
  python/framework-extensions/langchain/CHANGELOG.md
  python/framework-extensions/langchain/docs/conf.py
  python/framework-extensions/langchain/pyproject.toml
  python/framework-extensions/langchain/uv.lock
  python/framework-extensions/openai-agents-sdk/CHANGELOG.md
  python/framework-extensions/openai-agents-sdk/pyproject.toml
  python/framework-extensions/openai-agents-sdk/uv.lock
  python/framework-extensions/pydantic-ai/CHANGELOG.md
  python/framework-extensions/pydantic-ai/pyproject.toml
  python/framework-extensions/pydantic-ai/uv.lock
  python/framework-extensions/strands-agents/CHANGELOG.md
  python/framework-extensions/strands-agents/changelog.d/+bdc60cf1.feature.md
  python/framework-extensions/strands-agents/pyproject.toml
  python/framework-extensions/strands-agents/uv.lock
Labels: documentation, example, framework extension, python

#847 fix: Added gitignore to templates and various bug fixes
  typescript/.changeset/some-comics-visit.md
  typescript/create-onchain-agent/templates/mcp/_gitignore
  typescript/create-onchain-agent/templates/mcp/package.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/cdp/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/cdp/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/smart/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/evm/smart/getAgentKit.ts
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/cdp/claude_desktop_config.json
  typescript/create-onchain-agent/templates/mcp/src/agentkit/svm/cdp/getAgentKit.ts
  typescript/create-onchain-agent/templates/next/_gitignore
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/cdp/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/package.json
  typescript/create-onchain-agent/templates/next/tsconfig.json
Labels: documentation, typescript

#699 Fixed the table layout
  python/coinbase-agentkit/coinbase_agentkit/action_providers/erc721/README.md
Labels: documentation, action provider

#694 Fix: Change registration duration constant type to integer
  python/coinbase-agentkit/coinbase_agentkit/action_providers/basename/constants.py
Labels: action provider, python

#579 fix(py/weth): Replace deprecated pydantic @validator and class configs
  python/coinbase-agentkit/changelog.d/579.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/action_providers/weth/schemas.py
  python/coinbase-agentkit/coinbase_agentkit/wallet_providers/eth_account_wallet_provider.py
Labels: documentation, action provider, wallet provider, python

#388 feat: viem signing hex or uint8array
  typescript/.changeset/stupid-goats-march.md
  typescript/agentkit/src/wallet-providers/viemWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/viemWalletProvider.ts
Labels: documentation, enhancement, wallet provider, needs review, banana, typescript

#841 Fix: Flaunch img upload and tx logs for CdpSmartWalletProvider
  typescript/.changeset/fine-taxis-own.md
  typescript/agentkit/README.md
  typescript/agentkit/src/action-providers/flaunch/README.md
  typescript/agentkit/src/action-providers/flaunch/client_utils.ts
  typescript/agentkit/src/action-providers/flaunch/constants.ts
  typescript/agentkit/src/action-providers/flaunch/flaunchActionProvider.test.ts
  typescript/agentkit/src/action-providers/flaunch/flaunchActionProvider.ts
  typescript/agentkit/src/action-providers/flaunch/metadata_utils.ts
  typescript/agentkit/src/action-providers/flaunch/schemas.ts
  typescript/agentkit/src/action-providers/flaunch/swap_utils.ts
  typescript/agentkit/src/action-providers/superfluid/superfluidSuperTokenCreatorActionProvider.ts
  typescript/agentkit/src/action-providers/superfluid/utils/parseLogs.ts
  typescript/agentkit/src/action-providers/wallet/walletActionProvider.ts
  typescript/agentkit/src/wallet-providers/cdpEvmWalletProvider.ts
  typescript/agentkit/src/wallet-providers/cdpSmartWalletProvider.test.ts
  typescript/agentkit/src/wallet-providers/cdpSmartWalletProvider.ts
  typescript/create-onchain-agent/templates/next/app/api/agent/agentkit/evm/smart/prepare-agentkit.ts
  typescript/create-onchain-agent/templates/next/package.json
Labels: documentation, action provider, wallet provider, typescript

#848 chore: version python package
  python/coinbase-agentkit/CHANGELOG.md
  python/coinbase-agentkit/changelog.d/579.bugfix.md
  python/coinbase-agentkit/changelog.d/845.bugfix.md
  python/coinbase-agentkit/coinbase_agentkit/__version__.py
  python/coinbase-agentkit/docs/conf.py
  python/coinbase-agentkit/pyproject.toml
  python/coinbase-agentkit/uv.lock
  python/examples/autogen-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-chatbot-with-amazon-bedrock/uv.lock
  python/examples/langchain-cdp-chatbot/uv.lock
  python/examples/langchain-cdp-smart-wallet-chatbot/uv.lock
  python/examples/langchain-cdp-solana-chatbot/uv.lock
  python/examples/langchain-eth-account-chatbot/uv.lock
  python/examples/langchain-nillion-secretvault-chatbot/uv.lock
  python/examples/langchain-twitter-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-chatbot/uv.lock
  python/examples/openai-agents-sdk-cdp-voice-chatbot/uv.lock
  python/examples/openai-agents-sdk-smart-wallet-chatbot/uv.lock
  python/examples/pydantic-ai-cdp-chatbot/uv.lock
  python/examples/strands-agents-cdp-server-chatbot/uv.lock
  python/framework-extensions/pydantic-ai/tests/pydantic_ai_tools/conftest.py
  python/framework-extensions/pydantic-ai/tests/pydantic_ai_tools/test_get_pydantic_ai_tools.py
  python/scripts/sync_framework_extensions.sh
Labels: documentation, example, framework extension, python

#851 Added the Strands Agents framework logo to the ReadME
  README.md
  assets/frameworks/strands-logo.svg
Labels: documentation
